node-red/flow.json
[{"id":"95a635f2.66af88","type":"tcp in","z":"a17ef2ff.fef01","name":"","server":"server","host":"","port":"18801","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":200,"y":340,"wires":[["9bd1b624.130d18"]]},{"id":"1fa0a9bb.8b65e6","type":"debug","z":"a17ef2ff.fef01","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":340,"wires":[]},{"id":"9bd1b624.130d18","type":"json","z":"a17ef2ff.fef01","name":"","property":"payload","action":"","pretty":false,"x":350,"y":340,"wires":[["1fa0a9bb.8b65e6","3a7d54fe.e0506c","38ad7db9.ab4da2","73c9287e.49f058","36f4bec8.5d00e2","fad798eb.e15bc8","fe7c3ae3.382d78","33749971.3d39c6","b0f8877b.640f88","7dfd027e.ffdd7c","f67b33ea.56559","51875aa8.d99124"]]},{"id":"dea1a6b5.c354b8","type":"ui_gauge","z":"a17ef2ff.fef01","name":"","group":"823aa3b4.df969","order":0,"width":0,"height":0,"gtype":"gage","title":"eyeGazeX","label":"units","format":"{{value}}","min":"-2","max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":480,"wires":[]},{"id":"3a7d54fe.e0506c","type":"change","z":"a17ef2ff.fef01","name":"eyeGazeX","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.eyeGazeX","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":480,"wires":[["dea1a6b5.c354b8"]]},{"id":"38ad7db9.ab4da2","type":"change","z":"a17ef2ff.fef01","name":"eyeGazeY","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.eyeGazeY","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":520,"wires":[["6be394d2.fb964c"]]},{"id":"6be394d2.fb964c","type":"ui_gauge","z":"a17ef2ff.fef01","name":"","group":"823aa3b4.df969","order":0,"width":0,"height":0,"gtype":"gage","title":"eyeGazeY","label":"units","format":"{{value}}","min":"-2","max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":520,"wires":[]},{"id":"26f446ec.4e182a","type":"ui_gauge","z":"a17ef2ff.fef01","name":"","group":"823aa3b4.df969","order":0,"width":0,"height":0,"gtype":"gage","title":"eyeGazeZ","label":"units","format":"{{value}}","min":"-2","max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":560,"wires":[]},{"id":"73c9287e.49f058","type":"change","z":"a17ef2ff.fef01","name":"eyeGazeZ","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.eyeGazeZ","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":560,"wires":[["26f446ec.4e182a"]]},{"id":"36f4bec8.5d00e2","type":"csv","z":"a17ef2ff.fef01","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"message,hololensTimestamp,hololensDeviceName,eyeGazeX,eyeGazeY,eyeGazeZ,cameraRotationX,cameraRotationY,cameraRotationZ,cameraPositionX,cameraPositionY,cameraPositionZ","skip":"0","strings":true,"x":510,"y":260,"wires":[["7530b13e.4dfa3"]]},{"id":"9e3f0fb6.67382","type":"comment","z":"a17ef2ff.fef01","name":"CSV","info":"","x":510,"y":220,"wires":[]},{"id":"1106c974.8951b7","type":"comment","z":"a17ef2ff.fef01","name":"モニタリング","info":"","x":550,"y":440,"wires":[]},{"id":"fad798eb.e15bc8","type":"change","z":"a17ef2ff.fef01","name":"cameraRotationX","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cameraRotationX","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":600,"wires":[["5e915327.d49b1c"]]},{"id":"7530b13e.4dfa3","type":"file","z":"a17ef2ff.fef01","name":"","filename":"C:\\Users\\tnkse\\Desktop\\hololens-record.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":820,"y":260,"wires":[["ea150ebf.73dbe"]]},{"id":"fe7c3ae3.382d78","type":"change","z":"a17ef2ff.fef01","name":"cameraRotationY","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cameraRotationY","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":640,"wires":[["c0703b5b.6b1f98"]]},{"id":"33749971.3d39c6","type":"change","z":"a17ef2ff.fef01","name":"cameraRotationZ","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cameraRotationZ","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":680,"wires":[["cd023ea7.f930f"]]},{"id":"5e915327.d49b1c","type":"ui_gauge","z":"a17ef2ff.fef01","name":"","group":"4198069c.e469f8","order":0,"width":0,"height":0,"gtype":"gage","title":"cameraRotationX","label":"units","format":"{{value}}","min":"0","max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":600,"wires":[]},{"id":"c0703b5b.6b1f98","type":"ui_gauge","z":"a17ef2ff.fef01","name":"","group":"4198069c.e469f8","order":0,"width":0,"height":0,"gtype":"gage","title":"cameraRotationY","label":"units","format":"{{value}}","min":"0","max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":640,"wires":[]},{"id":"cd023ea7.f930f","type":"ui_gauge","z":"a17ef2ff.fef01","name":"","group":"4198069c.e469f8","order":0,"width":0,"height":0,"gtype":"gage","title":"cameraRotationZ","label":"units","format":"{{value}}","min":"0","max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":680,"wires":[]},{"id":"b0f8877b.640f88","type":"change","z":"a17ef2ff.fef01","name":"cameraPositionX","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cameraPositionX","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":720,"wires":[["f23b491f.9160d8"]]},{"id":"f23b491f.9160d8","type":"ui_text","z":"a17ef2ff.fef01","group":"3a0b57f4.191ad8","order":3,"width":0,"height":0,"name":"","label":"cameraPositionX","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":720,"wires":[]},{"id":"7dfd027e.ffdd7c","type":"change","z":"a17ef2ff.fef01","name":"cameraPositionY","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cameraPositionY","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":760,"wires":[["fcd4e8e6.28f408"]]},{"id":"fcd4e8e6.28f408","type":"ui_text","z":"a17ef2ff.fef01","group":"3a0b57f4.191ad8","order":3,"width":0,"height":0,"name":"","label":"cameraPositionY","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":760,"wires":[]},{"id":"ff89b2fd.40a7e","type":"ui_text","z":"a17ef2ff.fef01","group":"3a0b57f4.191ad8","order":3,"width":0,"height":0,"name":"","label":"cameraPositionZ","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":800,"wires":[]},{"id":"f67b33ea.56559","type":"change","z":"a17ef2ff.fef01","name":"cameraPositionZ","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cameraPositionZ","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":800,"wires":[["ff89b2fd.40a7e"]]},{"id":"f3e9e7f4.42da58","type":"ui_text","z":"a17ef2ff.fef01","group":"3a0b57f4.191ad8","order":3,"width":0,"height":0,"name":"","label":"hololensTimestamp","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":840,"wires":[]},{"id":"51875aa8.d99124","type":"change","z":"a17ef2ff.fef01","name":"hololensTimestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hololensTimestamp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":840,"wires":[["f3e9e7f4.42da58"]]},{"id":"e43cf68c.bff8e8","type":"inject","z":"a17ef2ff.fef01","name":"","topic":"","payload":"{\"message\":\"start\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":240,"wires":[["36f4bec8.5d00e2"]]},{"id":"ea150ebf.73dbe","type":"debug","z":"a17ef2ff.fef01","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1160,"y":260,"wires":[]},{"id":"5148f11e.7a8ae","type":"tcp in","z":"a17ef2ff.fef01","name":"","server":"server","host":"","port":"18802","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":200,"y":80,"wires":[["68ec5c1b.b710c4"]]},{"id":"50046b0d.a35b04","type":"debug","z":"a17ef2ff.fef01","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":80,"wires":[]},{"id":"68ec5c1b.b710c4","type":"json","z":"a17ef2ff.fef01","name":"","property":"payload","action":"","pretty":false,"x":370,"y":80,"wires":[["50046b0d.a35b04","708d8c96.89bab4"]]},{"id":"708d8c96.89bab4","type":"csv","z":"a17ef2ff.fef01","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"timestampFinish,timestampStart,Pelvis,SpineNavel,SpineChest,Neck,ClavicleLeft, ShoulderLeft,ElbowLeft,WristLeft,HandLeft,HandTipLeft,ThumbLeft, ShoulderRight,ElbowRight,WristRight,HandRight,HandTipRight,ThumbRight, HipLeft,KneeLeft,AnkleLeft,FootLeft, HipRight,KneeRight,AnkleRight,FootRight, Head,Nose,EyeLeft,EarLeft,EyeRight,EarRight","skip":"0","strings":true,"x":530,"y":160,"wires":[["fa2151ff.48a2e"]]},{"id":"4cd0884.422f678","type":"comment","z":"a17ef2ff.fef01","name":"CSV","info":"","x":530,"y":120,"wires":[]},{"id":"fa2151ff.48a2e","type":"file","z":"a17ef2ff.fef01","name":"","filename":"C:\\Users\\tnkse\\Desktop\\kinect-record.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":820,"y":160,"wires":[["fa9d2bd0.f91448"]]},{"id":"fa9d2bd0.f91448","type":"debug","z":"a17ef2ff.fef01","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":160,"wires":[]},{"id":"823aa3b4.df969","type":"ui_group","name":"Group 3","tab":"57537e5a.28d26","order":3,"disp":true,"width":6},{"id":"4198069c.e469f8","type":"ui_group","z":"","name":"HoloLens","tab":"57537e5a.28d26","order":2,"disp":true,"width":"6","collapse":false},{"id":"3a0b57f4.191ad8","type":"ui_group","z":"","name":"Group 2","tab":"57537e5a.28d26","order":1,"disp":true,"width":"6","collapse":false},{"id":"57537e5a.28d26","type":"ui_tab","z":"","name":"HoloLens & Kinect","icon":"dashboard","order":2,"disabled":false,"hidden":false}]