node-red/flow.json
[{"id":"b32f144f.06d4d8","type":"tcp in","z":"7b557e22.4990e","name":"","server":"server","host":"","port":"18801","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":100,"y":360,"wires":[["9eaa286b.d22e88"]]},{"id":"183d05f7.4344ca","type":"debug","z":"7b557e22.4990e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":360,"wires":[]},{"id":"9eaa286b.d22e88","type":"json","z":"7b557e22.4990e","name":"","property":"payload","action":"","pretty":false,"x":250,"y":360,"wires":[["183d05f7.4344ca","28d52365.85a56c","e7224797.d6f0b8","b8768429.00a4f8","b3335f8c.eae7e","bf10dd10.0646","e799e8d7.a72d88","bbf46cde.8c07c","e19f9b7a.fa0818","cab3945a.227908","cf08f3d8.32744","d14c00e6.f0c74"]]},{"id":"4287b06.7a0365","type":"ui_gauge","z":"7b557e22.4990e","name":"","group":"9d589461.c822e8","order":0,"width":0,"height":0,"gtype":"gage","title":"eyeGazeX","label":"units","format":"{{value}}","min":"-2","max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":500,"wires":[]},{"id":"28d52365.85a56c","type":"change","z":"7b557e22.4990e","name":"eyeGazeX","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.eyeGazeX","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":500,"wires":[["4287b06.7a0365"]]},{"id":"e7224797.d6f0b8","type":"change","z":"7b557e22.4990e","name":"eyeGazeY","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.eyeGazeY","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":540,"wires":[["6120b35e.4e401c"]]},{"id":"6120b35e.4e401c","type":"ui_gauge","z":"7b557e22.4990e","name":"","group":"9d589461.c822e8","order":0,"width":0,"height":0,"gtype":"gage","title":"eyeGazeY","label":"units","format":"{{value}}","min":"-2","max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":540,"wires":[]},{"id":"cd0aec96.43ab9","type":"ui_gauge","z":"7b557e22.4990e","name":"","group":"9d589461.c822e8","order":0,"width":0,"height":0,"gtype":"gage","title":"eyeGazeZ","label":"units","format":"{{value}}","min":"-2","max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":580,"wires":[]},{"id":"b8768429.00a4f8","type":"change","z":"7b557e22.4990e","name":"eyeGazeZ","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.eyeGazeZ","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":580,"wires":[["cd0aec96.43ab9"]]},{"id":"b3335f8c.eae7e","type":"csv","z":"7b557e22.4990e","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"message,hololensTimestamp,hololensDeviceName,eyeGazeX,eyeGazeY,eyeGazeZ,cameraRotationX,cameraRotationY,cameraRotationZ,cameraPositionX,cameraPositionY,cameraPositionZ","skip":"0","strings":true,"x":430,"y":280,"wires":[["66ec518e.4e1b5"]]},{"id":"95b7ff3e.4e8a2","type":"comment","z":"7b557e22.4990e","name":"CSV","info":"","x":430,"y":240,"wires":[]},{"id":"ad459517.d507e8","type":"comment","z":"7b557e22.4990e","name":"HoloLens モニタリング","info":"","x":480,"y":460,"wires":[]},{"id":"bf10dd10.0646","type":"change","z":"7b557e22.4990e","name":"cameraRotationX","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cameraRotationX","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":620,"wires":[["7541be52.e2e6c"]]},{"id":"334e1043.0354a","type":"file","z":"7b557e22.4990e","name":"","filename":"C:\\Users\\tnkse\\Desktop\\hololens-record.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1270,"y":280,"wires":[["56361a1a.b9d434"]]},{"id":"e799e8d7.a72d88","type":"change","z":"7b557e22.4990e","name":"cameraRotationY","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cameraRotationY","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":660,"wires":[["91c59abf.4e9948"]]},{"id":"bbf46cde.8c07c","type":"change","z":"7b557e22.4990e","name":"cameraRotationZ","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cameraRotationZ","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":700,"wires":[["cd37fc53.9a1db"]]},{"id":"7541be52.e2e6c","type":"ui_gauge","z":"7b557e22.4990e","name":"","group":"ee4e2ea8.5ae6c","order":0,"width":0,"height":0,"gtype":"gage","title":"cameraRotationX","label":"units","format":"{{value}}","min":"0","max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":620,"wires":[]},{"id":"91c59abf.4e9948","type":"ui_gauge","z":"7b557e22.4990e","name":"","group":"ee4e2ea8.5ae6c","order":0,"width":0,"height":0,"gtype":"gage","title":"cameraRotationY","label":"units","format":"{{value}}","min":"0","max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":660,"wires":[]},{"id":"cd37fc53.9a1db","type":"ui_gauge","z":"7b557e22.4990e","name":"","group":"ee4e2ea8.5ae6c","order":0,"width":0,"height":0,"gtype":"gage","title":"cameraRotationZ","label":"units","format":"{{value}}","min":"0","max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":700,"wires":[]},{"id":"e19f9b7a.fa0818","type":"change","z":"7b557e22.4990e","name":"cameraPositionX","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cameraPositionX","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":740,"wires":[["7daea57.dd5b35c"]]},{"id":"7daea57.dd5b35c","type":"ui_text","z":"7b557e22.4990e","group":"c44dff6e.f2aa2","order":1,"width":0,"height":0,"name":"","label":"cameraPositionX","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":740,"wires":[]},{"id":"cab3945a.227908","type":"change","z":"7b557e22.4990e","name":"cameraPositionY","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cameraPositionY","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":780,"wires":[["4ba5850e.4d957c"]]},{"id":"4ba5850e.4d957c","type":"ui_text","z":"7b557e22.4990e","group":"c44dff6e.f2aa2","order":2,"width":0,"height":0,"name":"","label":"cameraPositionY","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":780,"wires":[]},{"id":"68add9d4.0e6258","type":"ui_text","z":"7b557e22.4990e","group":"c44dff6e.f2aa2","order":3,"width":0,"height":0,"name":"","label":"cameraPositionZ","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":820,"wires":[]},{"id":"cf08f3d8.32744","type":"change","z":"7b557e22.4990e","name":"cameraPositionZ","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cameraPositionZ","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":820,"wires":[["68add9d4.0e6258"]]},{"id":"6d25ab95.947f44","type":"ui_text","z":"7b557e22.4990e","group":"c44dff6e.f2aa2","order":4,"width":0,"height":0,"name":"","label":"hololensTimestamp","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":860,"wires":[]},{"id":"d14c00e6.f0c74","type":"change","z":"7b557e22.4990e","name":"hololensTimestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hololensTimestamp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":860,"wires":[["6d25ab95.947f44"]]},{"id":"8a72326c.ad1c","type":"inject","z":"7b557e22.4990e","name":"","topic":"","payload":"{\"message\":\"start\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":260,"wires":[["b3335f8c.eae7e","c7e6d6a6.d84a38"]]},{"id":"56361a1a.b9d434","type":"debug","z":"7b557e22.4990e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1610,"y":280,"wires":[]},{"id":"75101753.339208","type":"tcp in","z":"7b557e22.4990e","name":"","server":"server","host":"","port":"18802","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":100,"y":100,"wires":[["60b13fc3.ecf5d"]]},{"id":"f407bbae.4f4718","type":"debug","z":"7b557e22.4990e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":100,"wires":[]},{"id":"60b13fc3.ecf5d","type":"json","z":"7b557e22.4990e","name":"","property":"payload","action":"","pretty":false,"x":270,"y":100,"wires":[["f407bbae.4f4718","c7e6d6a6.d84a38"]]},{"id":"c7e6d6a6.d84a38","type":"csv","z":"7b557e22.4990e","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"message,timestampFinish,timestampStart,Pelvis,SpineNavel,SpineChest,Neck,ClavicleLeft, ShoulderLeft,ElbowLeft,WristLeft,HandLeft,HandTipLeft,ThumbLeft, ShoulderRight,ElbowRight,WristRight,HandRight,HandTipRight,ThumbRight, HipLeft,KneeLeft,AnkleLeft,FootLeft, HipRight,KneeRight,AnkleRight,FootRight, Head,Nose,EyeLeft,EarLeft,EyeRight,EarRight","skip":"0","strings":true,"x":430,"y":180,"wires":[["14aa3401.0a1a1c"]]},{"id":"cb2894d9.3333a8","type":"comment","z":"7b557e22.4990e","name":"CSV","info":"","x":430,"y":140,"wires":[]},{"id":"75b86af3.76a544","type":"file","z":"7b557e22.4990e","name":"","filename":"C:\\Users\\tnkse\\Desktop\\kinect-record.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1260,"y":180,"wires":[["348a3315.009a9c"]]},{"id":"348a3315.009a9c","type":"debug","z":"7b557e22.4990e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1600,"y":180,"wires":[]},{"id":"f9e34975.f59338","type":"ui_switch","z":"7b557e22.4990e","name":"","label":"録画開始","tooltip":"","group":"c44dff6e.f2aa2","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":320,"y":1000,"wires":[["21738aa1.cba206"]]},{"id":"79eff849.997e08","type":"switch","z":"7b557e22.4990e","name":"recordSwitch","property":"recordSwitch","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":1000,"wires":[["b75797dd.6ca0f8"],["bed9957c.7e2248"]]},{"id":"21738aa1.cba206","type":"change","z":"7b557e22.4990e","name":"global.recordSwitch","rules":[{"t":"set","p":"recordSwitch","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1000,"wires":[["79eff849.997e08"]]},{"id":"14aa3401.0a1a1c","type":"switch","z":"7b557e22.4990e","name":"global.recordSwitch true","property":"recordSwitch","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":180,"wires":[["86a5ecb1.0f6fa"]]},{"id":"66ec518e.4e1b5","type":"switch","z":"7b557e22.4990e","name":"global.recordSwitch true","property":"recordSwitch","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":280,"wires":[["d786e4f8.f093e8"]]},{"id":"95cb7eef.4070d","type":"inject","z":"7b557e22.4990e","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":1000,"wires":[["f9e34975.f59338"]]},{"id":"634481ae.3ce85","type":"link in","z":"7b557e22.4990e","name":"HoloLens 保存","links":["c0df43b0.c1173"],"x":755,"y":320,"wires":[["d786e4f8.f093e8"]]},{"id":"caba9d66.6c869","type":"link in","z":"7b557e22.4990e","name":"Kinect 保存","links":["c0df43b0.c1173"],"x":755,"y":220,"wires":[["86a5ecb1.0f6fa"]]},{"id":"c0df43b0.c1173","type":"link out","z":"7b557e22.4990e","name":"CSV保存へ","links":["634481ae.3ce85","caba9d66.6c869"],"x":1350,"y":960,"wires":[],"l":true},{"id":"b75797dd.6ca0f8","type":"change","z":"7b557e22.4990e","name":"ON メッセージ","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"message\":\"record start -> \" & $fromMillis($millis(),'[Y0001]/[M01]/[D01] [H01]:[m01]:[s01] [z]','+0900'),\t   \"timestamp\":$millis()\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":960,"wires":[["eca1a25c.c38e"]]},{"id":"bed9957c.7e2248","type":"change","z":"7b557e22.4990e","name":"OFF メッセージ","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"message\":\"record end -> \" & $fromMillis($millis(),'[Y0001]/[M01]/[D01] [H01]:[m01]:[s01] [z]','+0900'),\t   \"timestamp\":$millis()\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":1020,"wires":[["eca1a25c.c38e"]]},{"id":"eca1a25c.c38e","type":"csv","z":"7b557e22.4990e","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"message,timestamp","skip":"0","strings":true,"x":1170,"y":960,"wires":[["c0df43b0.c1173"]]},{"id":"32b2f931.b63f36","type":"comment","z":"7b557e22.4990e","name":"録画開始スイッチ","info":"","x":190,"y":940,"wires":[]},{"id":"1f44e513.a71bbb","type":"comment","z":"7b557e22.4990e","name":"HoloLens TCP 記録","info":"","x":130,"y":320,"wires":[]},{"id":"5dddb8e5.cec1e8","type":"comment","z":"7b557e22.4990e","name":"Azure Kinect TCP 記録","info":"","x":140,"y":60,"wires":[]},{"id":"7c39fa4.7e9f804","type":"comment","z":"7b557e22.4990e","name":"HoloLens 記録ボタン","info":"","x":200,"y":1080,"wires":[]},{"id":"9004f547.527d08","type":"inject","z":"7b557e22.4990e","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":1120,"wires":[["d1dfa893.58a3f8"]]},{"id":"d1dfa893.58a3f8","type":"ui_switch","z":"7b557e22.4990e","name":"","label":"HoloLens 機能","tooltip":"","group":"22f37cc.f998784","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":340,"y":1120,"wires":[["9ead9123.00b25"]]},{"id":"9ead9123.00b25","type":"change","z":"7b557e22.4990e","name":"global.activeHoloLens","rules":[{"t":"set","p":"activeHoloLens","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1120,"wires":[[]]},{"id":"1a95b552.db5a3b","type":"comment","z":"7b557e22.4990e","name":"Kinect 記録ボタン","info":"","x":190,"y":1180,"wires":[]},{"id":"aa8c5b01.2f96f8","type":"inject","z":"7b557e22.4990e","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":1220,"wires":[["648e0616.51d5d8"]]},{"id":"648e0616.51d5d8","type":"ui_switch","z":"7b557e22.4990e","name":"","label":"Kinect 機能","tooltip":"","group":"22f37cc.f998784","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":330,"y":1220,"wires":[["2f1cd9c3.0eaab6"]]},{"id":"2f1cd9c3.0eaab6","type":"change","z":"7b557e22.4990e","name":"global.activeKinect","rules":[{"t":"set","p":"activeKinect","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1220,"wires":[[]]},{"id":"d786e4f8.f093e8","type":"switch","z":"7b557e22.4990e","name":"global.activeHoloLens true","property":"activeHoloLens","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":920,"y":280,"wires":[["334e1043.0354a"]]},{"id":"86a5ecb1.0f6fa","type":"switch","z":"7b557e22.4990e","name":"global.activeKinect true","property":"activeKinect","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":180,"wires":[["75b86af3.76a544"]]},{"id":"1645d97f.0da3a7","type":"comment","z":"7b557e22.4990e","name":"ダミーデータ HoloLens","info":"","x":160,"y":1320,"wires":[]},{"id":"39181fc3.4c32f","type":"inject","z":"7b557e22.4990e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1360,"wires":[["946a9197.2f0d7"]]},{"id":"946a9197.2f0d7","type":"change","z":"7b557e22.4990e","name":"ダミー メッセージ","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"message\":\"dummy\" & $fromMillis($millis(),'[Y0001]/[M01]/[D01] [H01]:[m01]:[s01] [z]','+0900'),\t   \"timestamp\":$millis()\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1360,"wires":[["3df6d288.44d42e"]]},{"id":"3df6d288.44d42e","type":"csv","z":"7b557e22.4990e","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"message,timestamp","skip":"0","strings":true,"x":630,"y":1360,"wires":[["b170556f.5580c8"]]},{"id":"88a06ebb.3e94f","type":"link in","z":"7b557e22.4990e","name":"HoloLens ダミー","links":["b170556f.5580c8"],"x":495,"y":320,"wires":[["66ec518e.4e1b5"]]},{"id":"b170556f.5580c8","type":"link out","z":"7b557e22.4990e","name":"HoloLens ダミー out","links":["88a06ebb.3e94f"],"x":775,"y":1360,"wires":[]},{"id":"9d589461.c822e8","type":"ui_group","z":"","name":"Group 3","tab":"503fa0f5.28886","order":3,"disp":false,"width":"6","collapse":false},{"id":"ee4e2ea8.5ae6c","type":"ui_group","z":"","name":"Group 1","tab":"503fa0f5.28886","order":2,"disp":false,"width":"6","collapse":false},{"id":"c44dff6e.f2aa2","type":"ui_group","z":"","name":"Group 2","tab":"503fa0f5.28886","order":1,"disp":false,"width":"6","collapse":false},{"id":"22f37cc.f998784","type":"ui_group","z":"","name":"管理","tab":"c61a6797.9e1a88","disp":false,"width":"6","collapse":false},{"id":"503fa0f5.28886","type":"ui_tab","z":"","name":"HoloLens","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"c61a6797.9e1a88","type":"ui_tab","z":"","name":"管理画面","icon":"dashboard","order":2,"disabled":false,"hidden":false}]